@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Basic Styling for all pages */
* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* body styling */
body {
    width: 100%;
    background-color: rgb(152, 184, 196);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    animation: fadeIn 1s ease-in;
}

/* header styling */
header {
    width: 100%;
    display: flex;
    font-size: 20px;
    align-items: center;
    padding: 15px;
    justify-content: center;
    box-shadow: 0 12px 12px rgb(28, 41, 190);
    text-shadow: 2px 2px 8px rgb(28, 41, 190);
}

/* navigation bar styling */
.navibar {
    width: 100%;
    display: flex;
    font-size: 30px;
    align-items: center;
    position: relative;
    padding: 15px;
    justify-content: center;
    background: linear-gradient(#6a11cb, #2575fc);
    box-shadow: 0 0 12px rgb(28, 41, 190);
}

/* Styling for the words/buttons in the navigation bar */
.navibar nav {
    display: flex;
    gap: 15px;
    margin-right: 25px;
}

.navibar a {
    margin-inline: 30px;
    color: rgb(249, 249, 249);
    font-size: 15px;
    font-weight: 650;
    transition: .4s;
}

.navibar a:hover {
    scale: 1.2;
    filter: drop-shadow();
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

/* Styling for content in the main page */
.main_content {
    margin-top: 20px;
    padding: 0px 0px 10px 140px;
    display: flex; 
    align-items: center; 
    gap: 100px;
    justify-content: center;
    flex-grow: 1; 
}

/* Styling for the text in the main page */
.main_text {
    font-size: larger;
    padding: 20px;
    justify-content: left;
}

/* Styling the image in main page */
.main_image img {
    max-width: 400px; /* Image will take 50% of its parent's width */
    height: 400px; 
    padding: 20px;
}

/* Styling the links for main page */
.social_icons {
    padding-left: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
}

/* styling the logos of the links */
.logo {
    padding-left: 20px;
    width: 70px;
    height: auto;
    transition: transform .5s;
}

.logo:hover {
    transform: scale(1.1);
}

/* Styling the contact section */
#contact{
    width: 80%;
    margin: 20px auto 20px auto;
    max-width: 600px;
    justify-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(173, 216, 230, 0.3);
    border-radius: 8px;
    box-shadow: 4px 8px 8px rgb(28, 41, 190)
}

h2{
    text-align: center;
    margin-bottom: 10px;
    color: black;
    text-decoration: underline;
    text-shadow: 2px 2px 8px rgb(28, 41, 190);
}

h3{
    text-align: center;
}


/* layout of the contact form */
#contact_Form{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

/* Styling of the labels using child combinators */
#contact_Form > label{
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 8px rgb(28, 41, 190);
}

/* Styling the textbox area in the form */
#contact_Form input[type="text"],#contact_Form input[type="email"],#contact_Form textarea{
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
    padding: 5px;
}

/* styling when an input is required */
input[required]{
    box-shadow: 4px 4px rgb(28, 41, 190);
}

/* styling when the input's criteria is met with pseudo classes */
input:valid {
    border: 3px solid;
    border-color: #66bb6a;
}

/* styling when the input's criteria is not met using pseudo classes*/
input:invalid {
    border: 3px solid;
    border-color: #e57373;
}

/* Styling of the send button in the form */
#contact_Submit{
    margin-top: 30px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 4px 4px rgb(28, 41, 190);
    text-shadow: 2px 2px 8px rgb(28, 41, 190);

}

/* Styling the about page */
#about p{
    max-width: 80%;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
}

/* Aligning  the image in about page*/
.about_Photo{
    text-align: center;
    margin: 20px;
}

/* Styling of the blog page */
#blog{
    justify-content: center;
    justify-items: center;
    text-align: center;
}


/* Styling of the blog posts */
.blog_Post{
    max-width: 80% ;
    margin-bottom: 20px;
    text-align: justify;
}

/* Pseudo element to make the first letter of each blog post bigger */
.blog_Post p::first-letter{
    font-size: 2em;
}

/* Stling using n-th child selectors */
.blog_Post :nth-child(odd){
    color: rgb(196, 194, 194);
    background-color: #3b3a6b;
    padding: 10px;
    border-radius: 8px;
}

.blog_Post :nth-child(even){
    background-color: #6564b0;
    padding: 10px;
    border-radius: 8px;
}


/* for the animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Styling of the footer */
footer {
    background-color: #333333;
    color: white;
    margin: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-top: auto; 
}


/* iPhone SE screen size for it to be responsive until smallest screen size */
@media (max-width: 768px) {
    .navibar nav {
        flex-direction: column;
        align-items: center;
    }
    
    .navibar a {
        margin-inline: 0;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .main_content {
        flex-direction: column;
        padding: 0;
        gap: 20px;
        text-align: center;
    }

    .main_text {
        font-size: medium;
        padding: 10px;
    }

    .main_image img, .about_Photo img {
        max-width: 250px;
        height: auto;
    }

    .social_icons {
        padding-left: 0;
        gap: 5px;
    }

    .logo{
        width: 50px;
        height: auto;
    }

    footer {
        font-size: 12px;
        padding: 5px;
    }
}
